<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pyozer.sarah"
    android:versionCode="16"
    android:versionName="@string/version_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpeakActivity"
            android:label="@string/menu_speak"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/menu_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/menu_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/menu_help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.MainActivity" />
        </activity>
        <activity
            android:name=".UpdateActivity"
            android:label="@string/menu_update"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.MainActivity" />
        </activity>
        <activity
            android:name=".ActionActivity"
            android:label="@string/action_title"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.MainActivity" />
        </activity>
        <activity
            android:name=".ActionDeleteActivity"
            android:label="@string/action_delete_title"
            android:parentActivityName=".ActionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pyozer.sarah.ActionActivity" />
        </activity>
    </application>

</manifest>